@import 'home'
@import 'navbar'
@import 'footer'
@import 'header'
@import 'dagatal'
@import 'login'
@import 'lenda'
@import 'vaktatal'
@import 'vaktataldesk'
@import 'valmoguleikar'
@import "/base/_colors"
@import "/base/_fonts"
@import "/base/_mixins"
@import "/base/typography"

html, body {
 background dark
}// html, body

// colors
lblue()
 color #11c3fe

span.lblue {
 color lblue !important
}// span.lblue