.vaktataldesk {

.uk-card.desktop {

@media (max-width: 768px) {
 display none

}// @media only screen and (max-width: 768px) 

.uk-card-title {
 margin 0
 
span {

&.date {
 background llpurple
 color white
 font-size 15px
 padding 5px
}// &.date

&.month {
 font-size 15px
}// &.month

}// span

span.timi {

svg {
 width 12px
 margin-bottom -3px
}// svg

}// span.timi

span.dag {
 font-size 15px
 color llpurple
}// span.dag

span.time {
 font-size 12px
}// span.time

// vaktir ////////////////////////////////////////
span {

&.fyrrivakt {

p {
 background llpurple
 color white
 font-size 18px
 text-align center
 padding 5px

}// p

}// &.fyrrivakt

&.seinnivakt {

p {
 background llblue
 color white
 font-size 18px
 text-align center
 padding 5px

}// p

}// &.seinnivakt

&.helgarvakt {

p {
 background llorange
 color white
 font-size 18px
 text-align center
 padding 5px

}// p

}// &.helgarvakt

&.varmahlid {

p {
 background vhlid
 color white
 font-size 18px
 text-align center
 padding 5px

}// p

}// &.varmahlid   

&.fridagur {

p {
 background llgreen
 color white
 font-size 18px
 text-align center
 padding 5px

}// p

}// &.fridagur

&.annad {

p {
 background dark
 color white
 font-size 18px
 text-align center
 padding 5px

}// p

}// &.annad    

}// span

}// .uk-card-title

}//.uk-card-desktop

}// .vaktataldesk