.valmoguleikar {

ul.uk-breadcrumb {
 background rgba(dark .1)

li {

a {

}// a

span  {
 color llorange
}// span

}// li

}// ul.uk-breadcrumb

.uk-fieldset {

p {
 background gray
 color white
 text-align center
 
.minnismidi {
 margin-top 10px

}// .minnismidi

}// p

p {
 background llorange

}// p

.date {

.field {

label {
 background llorange
 color white
 text-align center
 font-size 15px
 font-weight 300
 margin-bottom -1px

}// label

.datepicker-control {

.dropdown {

.button {

}// button

.control {
 
input {
 
}// input

}// .control

}// .dropdown

}// .datepicker-control

}// .field

}// .date

.hver {
 margin-top 20px

p.hver {
 color white
 text-align center

.uk-select {
 display block
 width 100%
 margin-top 5px

}// .uk-select

}// p

}// .hver

.vaktir {

p.vaktir {
 color white
 text-align center

.uk-select {
 display block
 width 100%
 margin-top 5px

}// .uk-select

}// p.vaktir

}// .vaktir

}// .uk-fieldset

button {
 background llorange
 color white
 font-weight 500
 margin-top 20px
 margin-bottom 10px
}// button

}// .valmoguleikar